<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <location path="." inheritInChildApplications="false">
        <system.webServer>
            <aspNetCore processPath="dotnet" arguments=".\WCAProject.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
                <environmentVariables xdt:Transform="InsertIfMissing">
                    <environmentVariable  xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)"
                        name="ASPNETCORE_ENVIRONMENT" value="Development" />
                </environmentVariables>
            </aspNetCore>
        </system.webServer>
    </location>
</configuration>