@model WCAProject.Models.Zrace

@{
    ViewData["Title"] = "Create";
}

<h1>Add Race</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="race" class="control-label"></label>
                <input asp-for="race" class="form-control" />
                <span asp-validation-for="race" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Race" class="btn btn-success" />
                <a type="button" class="btn btn-secondary" asp-action="Index">Back to All Races</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
