@model WCAProject.Models.Zrace

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Race: @Html.DisplayFor(model => model.race)</h1>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ZraceId" />
            <div class="form-group">
                <label asp-for="race" class="control-label"></label>
                <input asp-for="race" class="form-control" />
                <span asp-validation-for="race" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save Race" class="btn btn-success" />
                <a type="button" class="btn btn-secondary" asp-action="Index">Back to All Races</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
