@model WCAProject.Models.Zhearabout

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Hear About: @Html.DisplayFor(model => model.hearabout)</h1>
<h3>Are you sure you want to delete this?</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ZhearaboutId" />
        <div class="form-group">
            <label asp-for="hearabout" class="control-label"></label>
            <input asp-for="hearabout" class="form-control" disabled/>
            <span asp-validation-for="hearabout" class="text-danger"></span>
        </div>
    </div>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="ZhearaboutId" />
    <input type="submit" value="Delete Hear About" class="btn btn-danger" />
    <a type="button" class="btn btn-secondary" asp-action="Index">Back to All Hear Abouts</a>
</form>
