@model WCAProject.Models.Zsite

@{
    ViewData["Title"] = "Details";
}

<h1>View Site: @Html.DisplayFor(model => model.site)</h1>
<hr/>
<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="site" class="control-label"></label>
            <input asp-for="site" class="form-control" disabled/>
            <span asp-validation-for="site" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="report" class="control-label"></label>
            <input asp-for="report" class="form-control" disabled/>
            <span asp-validation-for="report" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="active" class="control-label"></label>
            <input asp-for="active" class="form-control" disabled/>
            <span asp-validation-for="active" class="text-danger"></span>
        </div>
        <div class="form-group">
            <a type="button" class="btn btn-secondary" asp-action="Index">Back to All Sites</a>
        </div>
    </div>
</div>
