@model WCAProject.Models.Zsite

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Site: @Html.DisplayFor(model => model.site)</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ZsiteId" />
            <div class="form-group">
                <label asp-for="site" class="control-label"></label>
                <input asp-for="site" class="form-control" />
                <span asp-validation-for="site" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="report" class="control-label"></label>
                <input asp-for="report" class="form-control" />
                <span asp-validation-for="report" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="active" class="control-label"></label>
                <input asp-for="active" class="form-control" />
                <span asp-validation-for="active" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save Site" class="btn btn-success" />
                <a type="button" class="btn btn-secondary" asp-action="Index">Back to All Sites</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
