@model WCAProject.Models.Zschool

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit School: @Html.DisplayFor(model => model.displayname)</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ZschoolId" />
            <div class="form-group">
                <label asp-for="site" class="control-label"></label>
                <input asp-for="site" class="form-control" />
                <span asp-validation-for="site" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="schooldistrict" class="control-label"></label>
                <input asp-for="schooldistrict" class="form-control" />
                <span asp-validation-for="schooldistrict" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="displayname" class="control-label"></label>
                <input asp-for="displayname" class="form-control" />
                <span asp-validation-for="displayname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="therapist" class="control-label"></label>
                <input asp-for="therapist" class="form-control" />
                <span asp-validation-for="therapist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceOffered" class="control-label"></label>
                <input asp-for="ServiceOffered" class="form-control" />
                <span asp-validation-for="ServiceOffered" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Supervisor" class="control-label"></label>
                <input asp-for="Supervisor" class="form-control" />
                <span asp-validation-for="Supervisor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="active" class="control-label"></label>
                <input asp-for="active" class="form-control" />
                <span asp-validation-for="active" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save School" class="btn btn-success" />
                <a type="button" class="btn btn-secondary" asp-action="Index">Back to All Schools</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
