@model WCAProject.Models.Zworker

@{
    ViewData["Title"] = "Details";
}

<h1>View Worker: @Html.DisplayFor(model => model.worker)</h1>
<hr/>
<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="worker" class="control-label"></label>
            <input asp-for="worker" class="form-control" disabled />
            <span asp-validation-for="worker" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="report" class="control-label"></label>
            <input asp-for="report" class="form-control" disabled />
            <span asp-validation-for="report" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="active" class="control-label"></label>
            <input asp-for="active" class="form-control" disabled />
            <span asp-validation-for="active" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="UserName" class="control-label"></label>
            <input asp-for="UserName" class="form-control" disabled />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <a type="button" class="btn btn-secondary" asp-action="Index">Back to All Workers</a>
        </div>
    </div>
</div>
