@model WCAProject.Models.Zcaresreason

@{
    ViewData["Title"] = "Delete";
}


<h1>View Care Reason: @Html.DisplayFor(model => model.caresreason)</h1>
<h3>Are you sure you want to delete this?</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ZcaresreasonId" />
        <div class="form-group">
            <label asp-for="caresreason" class="control-label"></label>
            <input asp-for="caresreason" class="form-control" />
            <span asp-validation-for="caresreason" class="text-danger"></span>
        </div>
    </div>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="ZcaresreasonId" />
    <input type="submit" value="Delete Cares Reason" class="btn btn-danger" />
    <a type="button" class="btn btn-secondary" asp-action="Index">Back to List</a>
</form>
