@model WCAProject.Models.Zcaresreason

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Care Reason: @Html.DisplayFor(model => model.caresreason)</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ZcaresreasonId" />
            <div class="form-group">
                <label asp-for="caresreason" class="control-label"></label>
                <input asp-for="caresreason" class="form-control" />
                <span asp-validation-for="caresreason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save Care Reason" class="btn btn-success" />
                <a type="button" class="btn btn-secondary" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
