@model WCAProject.Models.Zinternalcategory

@{
    ViewData["Title"] = "Details";
}

<h1>View Internal Subcategory: @Html.DisplayFor(model => model.internalsubcat)</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="internalsubcat" class="control-label"></label>
            <input asp-for="internalsubcat" class="form-control" disabled/>
            <span asp-validation-for="internalsubcat" class="text-danger"></span>
        </div>
        <div class="form-group">
            <a type="button" class="btn btn-secondary" asp-action="Index">Back to All Internal Subcategories</a>
        </div>
    </div>
</div>
