@{
    ViewData["Title"] = "Central Access Database - Change Log";
}
<h2>@ViewData["Title"]</h2>



<h2>08/26/2020</h2>
<p> - Enhancement - In all List views changed links to go to 'Edit' instead of 'Detail' view</p>
<p> - Enhancement - In all List views added the CA DB ID and Credible ID</p>
<p> - Enhancement - When Selecting Service of OP hide the "OP Type" - No longer needed</p>

<h2>08/05/2020</h2>
<p> - Fix - Footer Section Bleeding on top of other text</p>
<p> - Fix - When selecting the site of "School" the School Selection Box now shows up</p>
<p> - Fix - When selecting the Programs of "OP", "BHRS", "IFC", or "WK" the hiddedn boxes now appear</p>
<p> - Fix - Clinet Inquery - Site Drop Down was not filtering out inactives</p>
<p> - Fix - Clinet Inquery - School Drop Down was not filtering out inactives</p>
<p> - Fix - Clinet Inquery - Status Drop Down was not filtering out inactives</p>
<p> - Fix - Clinet Inquery - Worker Drop Down was not filtering out inactives</p>
<p> - Fix - Clinet Inquery - Program Drop Down was not filtering out inactives</p>
<p> - Fix - Clinet Inquery - Internal Drop Down was not filtering out inactives</p>
<p> - Fix - Clinet - Race Drop Down was not filtering out inactives</p>
<p> - Fix - Clinet - Insurance Drop Down was not filtering out inactives</p>
<p> - Fix - Clinet - Site Drop Down was not filtering out inactives</p>
<p> - Fix - Clinet - School Drop Down was not filtering out inactives</p>
<p> - Fix - Clinet - Status Drop Down was not filtering out inactives</p>
<p> - Fix - Clinet - Worker Drop Down was not filtering out inactives</p>
<p> - Fix - Clinet - Program Drop Down was not filtering out inactives</p>
<p> - Fix - Age - Went entering DOB Age will calculate</p>
<p> - Enhancement - System Recalculates age nightly</p>
<p> - Enhancement - Created new Report Section</p>
<p> - Enhancement - Moved Cleint Search Report to new Reports Section</p>
<p> - Enhancement - Added security to reports page</p>
<p> - Enhancement - Added Help Page</p>
<p> - Enhancement - Moved Change Log and Debug to help Page</p>


<h2>06/26/2020</h2>
<p> - Enhancement - Unlocked Client Feilds on Edit Inquery Screen</p>
<p> - Fix - Added County to Inquery Client view</p>
<p> - Fix - Added County to Inquery Client Create</p>
<p> - Fix - Added County to Inquery Client Edit</p>
<p> - Enhancement - Added Page to pull SSRS Cleint Search</p>
<p> - Enhancement - Added Link to WFS Services Site</p>

<h2>06/18/2020</h2>
<p> - Fix - In Progress on home page from listing results</p>
<p> - Fix - Client DB Number not showing on Client Page </p>
<p> - Fix - Converted Insurance2 to Foreign Key tied to Insurance List</p>
<p> - Enhancement - Added Change log</p>
<p> - Fix - Fixed Incomming Clients page not defaulting to new clients</p>
<p> - Fix - Search on Client only searches the first phone number box, not the 2nd box also same with these search options email and contact relationship.</p>
<p> - Enhancement - Added Name to In Process List on Homepage</p>
<p> - Enhancement - Added Name to Incomming Inquiries</p>
<p> - Enhancement - Added County to Client Page</p>

<h2>04292020</h2>
<p> - Inital Release from CMU</p>





















@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
