@model WCAProject.Models.Zaction

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Zaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="action" class="control-label"></label>
                <input asp-for="action" class="form-control" />
                <span asp-validation-for="action" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="report" class="control-label"></label>
                <input asp-for="report" class="form-control" />
                <span asp-validation-for="report" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="active" class="control-label"></label>
                <input asp-for="active" class="form-control" />
                <span asp-validation-for="active" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a type="button" class="btn btn-secondary" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
