@model WCAProject.Models.Zcounty

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete County: @Html.DisplayFor(model => model.county)</h1>
<h3>Are you sure you want to delete this?</h3>
<hr/>
<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="county" class="control-label"></label>
            <input asp-for="county" class="form-control" disabled/>
            <span asp-validation-for="county" class="text-danger"></span>
        </div>
    </div>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="ZcountyId" />
    <input type="submit" value="Delete County" class="btn btn-danger" />
    <a type="button" class="btn btn-secondary" asp-action="Index">Back to All Counties</a>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
