@model WCAProject.Models.Zopother

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Other Op: @Html.DisplayFor(model => model.opother)</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ZopotherId" />
            <div class="form-group">
                <label asp-for="opother" class="control-label"></label>
                <input asp-for="opother" class="form-control" />
                <span asp-validation-for="opother" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save Other Op" class="btn btn-success" />
                <a type="button" class="btn btn-secondary" asp-action="Index">Back to All Other Ops</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
