@model WCAProject.Models.ScaScreen

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ScaScreen</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClientId" class="control-label"></label>
                <select asp-for="ClientId" class ="form-control" asp-items="ViewBag.ClientId"></select>
            </div>
            <div class="form-group">
                <label asp-for="wsclinic" class="control-label"></label>
                <input asp-for="wsclinic" class="form-control" />
                <span asp-validation-for="wsclinic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="referralsource" class="control-label"></label>
                <input asp-for="referralsource" class="form-control" />
                <span asp-validation-for="referralsource" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="whyfamilyseen" class="control-label"></label>
                <input asp-for="whyfamilyseen" class="form-control" />
                <span asp-validation-for="whyfamilyseen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="treatmenthistory" class="control-label"></label>
                <input asp-for="treatmenthistory" class="form-control" />
                <span asp-validation-for="treatmenthistory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="asddiagnosis" class="control-label"></label>
                <input asp-for="asddiagnosis" class="form-control" />
                <span asp-validation-for="asddiagnosis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="halfwayshelter" class="control-label"></label>
                <input asp-for="halfwayshelter" class="form-control" />
                <span asp-validation-for="halfwayshelter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="recentlymove" class="control-label"></label>
                <input asp-for="recentlymove" class="form-control" />
                <span asp-validation-for="recentlymove" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="outsidevbh" class="control-label"></label>
                <input asp-for="outsidevbh" class="form-control" />
                <span asp-validation-for="outsidevbh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="meetcriteria" class="control-label"></label>
                <input asp-for="meetcriteria" class="form-control" />
                <span asp-validation-for="meetcriteria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="referraldetails" class="control-label"></label>
                <input asp-for="referraldetails" class="form-control" />
                <span asp-validation-for="referraldetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="shelterdetails" class="control-label"></label>
                <input asp-for="shelterdetails" class="form-control" />
                <span asp-validation-for="shelterdetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="wasstatenotified" class="control-label"></label>
                <input asp-for="wasstatenotified" class="form-control" />
                <span asp-validation-for="wasstatenotified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="gennote" class="control-label"></label>
                <input asp-for="gennote" class="form-control" />
                <span asp-validation-for="gennote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="privateinsurer" class="control-label"></label>
                <input asp-for="privateinsurer" class="form-control" />
                <span asp-validation-for="privateinsurer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="privateinsurance" class="control-label"></label>
                <input asp-for="privateinsurance" class="form-control" />
                <span asp-validation-for="privateinsurance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="managedcaretype" class="control-label"></label>
                <input asp-for="managedcaretype" class="form-control" />
                <span asp-validation-for="managedcaretype" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="requestedlocation" class="control-label"></label>
                <input asp-for="requestedlocation" class="form-control" />
                <span asp-validation-for="requestedlocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="servicerequested" class="control-label"></label>
                <input asp-for="servicerequested" class="form-control" />
                <span asp-validation-for="servicerequested" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="currentcounty" class="control-label"></label>
                <input asp-for="currentcounty" class="form-control" />
                <span asp-validation-for="currentcounty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a type="button" class="btn btn-secondary" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
