@model WCAProject.Models.Service

@{
    ViewData["Title"] = "Create";
}

<h1>Add Service</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="service_desc" class="control-label"></label>
                <input asp-for="service_desc" class="form-control" />
                <span asp-validation-for="service_desc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="report" class="control-label"></label>
                <input asp-for="report" class="form-control" />
                <span asp-validation-for="report" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="active" /> @Html.DisplayNameFor(model => model.active)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="credible" class="control-label"></label>
                <input asp-for="credible" class="form-control" />
                <span asp-validation-for="credible" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="temp" class="control-label"></label>
                <input asp-for="temp" class="form-control" />
                <span asp-validation-for="temp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Service" class="btn btn-success" />
                <a type="button" class="btn btn-secondary" asp-action="Index">Back to All Services</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
