@model WCAProject.Models.Service

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Service: @Html.DisplayFor(model => model.service_desc)</h1>
<h3>Are you sure you want to delete this?</h3>
<hr/>
<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="service_desc" class="control-label"></label>
            <input asp-for="service_desc" class="form-control" disabled/>
            <span asp-validation-for="service_desc" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="report" class="control-label"></label>
            <input asp-for="report" class="form-control" disabled/>
            <span asp-validation-for="report" class="text-danger"></span>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="active" disabled/>
                @Html.DisplayNameFor(model => model.active)
            </label>
        </div>
        <div class="form-group">
            <label asp-for="credible" class="control-label"></label>
            <input asp-for="credible" class="form-control" disabled/>
            <span asp-validation-for="credible" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="temp" class="control-label"></label>
            <input asp-for="temp" class="form-control" disabled/>
            <span asp-validation-for="temp" class="text-danger"></span>
        </div>
    </div>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="ServiceId" />
    <input type="submit" value="Delete Service" class="btn btn-danger" />
    <a type="button" class="btn btn-secondary" asp-action="Index">Back to All Services</a>
</form>
